@media only screen and (max-width: 1020px) {
    nav {
        font-size: 24px;
    }
    
    h1 {
        text-align: center;
        font-size: 60px!important;
    }

    button {
        font-size: 30px;
    }
}

*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background-color: #e7e7e7;
}

.canvas {
    margin-top: 5vh;
}

h1 {
    text-align: center;
    font-size: 36px;
}

nav {
    padding: 40px 0;
    text-align: center;
}

nav > ul{
    align-items: center;
    text-align: center;
}

nav > ul > li {
    display: inline-block;
    padding: 10px;
    margin: 10px;
    background-color: #cac7c7;
}

nav > ul > li:hover {
    background-color: #d4d4d4;
    cursor: pointer;
}

button {
    padding: 3px 10px;
    margin-top: 20px;
    border-radius: 10%;
}

.algorithm-header {
    margin: 15px 0;
}

.data-container {
    position: relative;
    margin-left: 5vw;
    width: 90vw;
    height: 55vh;
    border: 1px solid #757575;
    background-color: #d4d4d4;
}

.block {
    width: 28px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #3aafff;
    transition: 0.2s all ease;
}

.block__id {
    position: absolute;
    top: -24px;
    width: 100%;
    text-align: center;
}
